.TextField {
    -webkit-appearance: none;
    border-radius: 0;
    font-size: 19px;
    line-height: 1.3157894737;
    font-weight: 400;
    text-transform: none;
  /*  font-size: 16px;
    line-height: 1.25;*/
    padding: 5px 4px 4px;
    border: 2px solid #0b0c0c;
    width: 100%;
}

.TextField:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 0;
}