@media (min-width: 641px) {
	.Legaltext {
		font-size: 19px;
    	line-height: 1.3157894737;
	}
}

.Legaltext {
	font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    -webkit-font-smoothing: antialiased;
    max-width: 30em;
}

.Legaltext-icon {
	width: 35px;
    height: 35px;
    display:inline-block;
}

.Legaltext-iconlabel {
	display: inline-block;
    line-height: 35px;
    vertical-align: top;
    padding-left: 15px;
}
