@media (min-width: 641px) {
	.Legaltext {
		font-size: 19px;
    	line-height: 1.3157894737;
	}
	.example {
	    padding-top: 45px;
	    padding-right: 30px;
	    padding-bottom: 30px;
	    padding-left: 30px;
	}
	.example:before {
	    font-size: 14px;
	    line-height: 1.4285714286;
	}
}

.Legaltext {
	font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    -webkit-font-smoothing: antialiased;
    /*max-width: 30em;*/
}

.example {
	position: relative;
    overflow: hidden;
    border: 1px solid #bfc1c3;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.example:before {
    content: "EXAMPLE";
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.2105263158em 0.7894736842em 0.2105263158em 0.7894736842em;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 12px;
    line-height: 1.25;
    background: #bfc1c3;
    color: white;
}

.Legaltext-icon {
	width: 35px;
    height: 35px;
    display:inline-block;
}

.Legaltext-iconlabel {
	display: inline-block;
    line-height: 35px;
    vertical-align: top;
    padding-left: 15px;
}

.bold-small {
    font-weight: 700;
}