:root {
    --fieldtitleWidth: 9rem;
}

.FormField {
    position: relative;
    display: flex;
    flex-direction: column;
}

.FormField > div:first-child {
    min-height: 2rem;
    flex: 1;
}

.FormField.is-disabled { cursor: not-allowed; }

.FormField + .FormField { margin-top: 0; }

.FormField-label {
    padding-bottom: 2px;
}

/* Title */

.FormField-title {
    margin-top: .3rem;
    position: relative;
    display: flex;
    height: auto;
    line-height: 1.25em;
    margin-right: 1.5rem;
    transition: opacity .25s;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
}

@media (min-width: 641px) {
    .FormField-title {
        font-size: 19px;
    }
}

.FormField.is-disabled .FormField-title {
    opacity: .5;
}

.FormField.is-optional .FormField-title:after {
    margin-left: .25em;
    content: "(optional)";
}

.FormField-hintText {
    color: #6F777B;
    margin-top: 0;
    padding-bottom: 0;
    text-transform: none;
    font-weight: normal;
    line-height: 1.25;
}

@media (min-width: 641px) {
    .FormField-hintText {
        font-size: 19px;
        line-height: 1.3157894737;
    }
}

/* Control */

.FormField-control-substitution {
    flex: 1;
}

.FormField-control {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    min-height: 2rem;
    width: 100%;
    font-size: 16px;
}

@media (min-width: 641px) {
    .FormField-control {
        width: 50%;
        font-size: 19px;
        line-height: 1.3157894737;
    }
}

.FormField-control > *:first-child {
    align-self: center;
}

/* FormField-info Icon */

/* moves icon after isMandatory asterisk */
.FormField-info-condition { order: 1; }

.FormField-infoButton.Button {
    margin-top: -0.25rem;
    margin-left: .25rem;
    color: var(--accent);
}

.FormField-infoButton.Button svg {
    height: 1.2em;
    width: 1.2em;
}

.help-is-shown .FormField-infoButton.Button {
    color: var(--white);
}

/* Error Message */

.FormField-error {
    display: none;
    position: relative;
    width: 100%;
    background: var(--red);
    padding: .5em;
    padding-top: .2em;
    font-weight: 300;
    color: var(--white);
    border-bottom-left-radius:  4px;
    border-bottom-right-radius: 4px;
}

.FormField.has-error .FormField-error {
    display: block;
}

/* States */

.FormField.has-error .FormField-control input,
.FormField.has-error .FormField-control textarea {
    border-color: var(--red);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.FormField.is-validated .FormField-control input,
.FormField.is-validated .FormField-control textarea {
    border-color: var(--green);
}

.FormField-infoButton:hover {
    color: var(--white);
    border-color: var(--white);
}

.FormField-infoButton.is-expanded {
    background: var(--accent);
    color: var(--white);
}

.FormField-infoButton.is-expanded .FormField-info-description {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Help */

.FormField-help {
    display: none;
}

.help-is-shown .FormField-help {
    display: block;
}

.FormField .Spinner svg {
    height: 1.5rem;
    width:  1.5rem;
}
