.Main {
    width:90%;
}

.content {
    width: 100%;
    height: 30px;
    border:4px solid black;
    margin:5px 0px;
}

.content.even {
    background-color: lightblue;
}

.content.odd {
    background-color: darkblue;
}