
/* 
 * This file is reserved for your global style rules. 
 */

html {
    font-family: "nta", Arial, sans-serif;
    color: #0b0c0c; 
}

body {
    margin: 15px;
}

p {
    margin-top: 0.3125em;
    margin-bottom: 1.25em;
}

fieldset {
    border:none;
    padding:0;
}

legend {
    box-sizing: border-box;
    max-width: 100%;
    display: table;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, small, strike, strong, sub, sup, tt, var, b, u, i, center, input, textarea, table, caption, tbody, tfoot, thead, tr, th, td {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    font-weight: normal;
}

.bold-small {
    font-weight: 700;
}

.button:active {
    margin-top: 2px;
    margin-bottom: -2px;
    -webkit-box-shadow: 0 0 0 #00823b;
    -moz-box-shadow: 0 0 0 #00823b;
    box-shadow: 0 0 0 #00823b;
}

.disabled{
	zoom:1;
	opacity:0.5;
	pointer-events:none;
}

.error-message {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    color: #b10e1e;
    display: block;
    clear: both;
    margin: 0;
    padding: 2px 0;
}

.example {
	position: relative;
    overflow: hidden;
    border: 1px solid #bfc1c3;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.example:before {
    content: "EXAMPLE";
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.2105263158em 0.7894736842em 0.2105263158em 0.7894736842em;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 12px;
    line-height: 1.25;
    background: #bfc1c3;
    color: white;
}

.example img {
	padding: 0 15px;
    max-width: calc(50% - 30px);
    float: left;
}

.heading-large {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 24px;
    line-height: 1.0416666667;
    margin-top: 1.0416666667em;
    margin-bottom: 0.4166666667em;
}

.heading-medium {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
}

.hidden {
    display: none;
    visibility: hidden;
}

.multiple-choice {
    display: block;
    float: none;
    clear: left;
    position: relative;
    padding: 0 0 0 38px;
    margin-bottom: 10px;
}

.multiple-choice input {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 38px;
    height: 38px;
    z-index: 1;
    margin: 0;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
}

.multiple-choice label {
    cursor: pointer;
    padding: 8px 10px 9px 12px;
    display: block;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

@media (min-width: 641px) {
    p {
        margin-top: 0.2631578947em;
        margin-bottom: 1.0526315789em;
    }
    .error-message {
        font-size: 19px;
        line-height: 1.3157894737;
    }
    .example {
        padding-top: 45px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
    }
    .example:before {
        font-size: 14px;
        line-height: 1.4285714286;
    }
    .heading-large {
        margin-top: 1.25em;
        margin-bottom: 0.5555555556em;
        font-size: 36px;
        line-height: 1.1111111111;
    }
    .heading-medium {
        font-size: 24px;
        line-height: 1.25;
        margin-top: 1.875em;
        margin-bottom: 0.8333333333em;
    }
    .multiple-choice {
        float: left;
    }
    .multiple-choice label {
        float: left;
        padding-top: 7px;
        padding-bottom: 7px;
    }
}