.Main {

}

header {
    margin-top: 20px;
    font-size: 42px;
    font-weight: bold;
    color: #333;
}

.hmmx-Image{
	
}

.legal-example-wrapper {
    height:40px;
}

.hmmx-icon {
    display:inline-block;
}

.icon-label{
    display:inline-block;
    margin: 0px 5px;
    line-height:40px;
    vertical-align: top;
}
